include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ltsp_billing *.css
recursive-include ltsp_billing *.csv
recursive-include ltsp_billing *.html
recursive-include ltsp_billing *.ico
recursive-include ltsp_billing *.js
recursive-include ltsp_billing *.json
recursive-include ltsp_billing *.md
recursive-include ltsp_billing *.png
recursive-include ltsp_billing *.py
recursive-include ltsp_billing *.svg
recursive-include ltsp_billing *.txt
recursive-exclude ltsp_billing *.pyc
